<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/order.css}">
</head>
<body>
    <div class="about">
        <p>Ушул жерге дескрипшн жазылат.</p>
    </div>
    <hr/>
    <form th:action="@{/main}">
        <button type="submit" id="backtomain">Back to main page</button>
    </form>
    <div class="footer">
        <p>Copyrights reserved. Bishkek, International University Ala-Too 2022.</p>
    </div>
</body>
</html>