<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/order.css}">
</head>
<body>
    <div class="about">
        <h1>Onlie Drinks Ordering App</h1>
        <div class="about-image">
            <img src="https://i.pinimg.com/originals/f7/cb/c0/f7cbc0f71191fe0b6de2f165e0e54af9.jpg">
        </div>
        <h2>Welcome to my ordering shop.You can order your drink right now!<br> Follow this steps to order</h2>
        <ul>
            <li>Login/Register</li>
            <li>Choose your favorite drink and click buy</li>
            <li>fill the order information and confirm</li>
            <li>check order from your email</li>
        </ul>

    </div>
    <hr/>
    <form th:action="@{/main}">
        <button type="submit" id="backtomain">Back to main page</button>
    </form>
    <div class="footer">
        <p>Copyrights reserved. Bishkek, International University Ala-Too 2022.</p>
    </div>
</body>
</html>