<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coffee Shop Online</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>
<div class="main-welcome-title"><b>Welcome</b></div>
<div class="page-title">About Coffee page</div>
<div class="demo-container">
    <h3>Enjoy and order your own coffee</h3>
    <br>
    <div class="main-image">
        <img width="620" height="270" th:src="@{${'images/coffee.jpg'}}" alt="main-page-image">
    </div>
</div>

<th:block th:include="/_footer"></th:block>

</body>
</html>