<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coffee Shop Online</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>
<div class="header-container"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <div class="site-name">Online Coffee Ordering Shop</div>

    <div class="header-bar">
        <th:block sec:authorize="isAuthenticated()">
            Hello
            <a th:href="@{/admin/accountInfo}" th:utext="${#request.userPrincipal.name}">..</a>
            &nbsp;|&nbsp;
            <a th:href="@{/admin/logout}">Logout</a>
        </th:block>

        <th:block sec:authorize="!isAuthenticated()">
            <a th:href="@{/admin/login}">Login</a>
        </th:block>
    </div>

</div>
<div class="menu-container"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
    <a th:href="@{/}">About</a>
    |
    <a th:href="@{/productList}">
        Product List
    </a>
    |
    <a th:href="@{/shoppingCart}">
        My Cart
    </a>
    |
    <th:block sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_EMPLOYEE')">
        <a th:href="@{/admin/orderList}">
            Order List
        </a>
        |
    </th:block>
    <th:block sec:authorize="hasRole('ROLE_MANAGER')">
        <a th:href="@{/admin/product}">
            Create Product
        </a>
        |
    </th:block>
    <th:block sec:authorize="hasRole('ROLE_MANAGER')">
        <a th:href="@{/admin/RegisterEmployee}">
            Register new Employee
        </a>
    </th:block>
</div>



<div class="main-welcome-title"><b>Welcome</b></div>
<div class="page-title">About Coffee page</div>
<div class="demo-container">
    <h3>Enjoy and order your own coffee</h3>
    <br>
    <div class="main-image">
        <img width="620" height="270" th:src="@{${'images/coffee.jpg'}}" alt="main-page-image">
    </div>
</div>

<div class="footer-container"
     xmlns:th="http://www.thymeleaf.org">

    @Copy right  <a href="https://github.com/EB-coder/Final_web_ordering"
                    target="_blank">OrderingWeb</a>
    <br>
    See more on <a>GitHub</a>

</div>

</body>
</html>