<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<div class="header-container"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <div class="site-name">Online Coffee Ordering Shop</div>

    <div class="header-bar">
        <th:block sec:authorize="isAuthenticated()">
            Hello
            <a th:href="@{/admin/accountInfo}" th:utext="${#request.userPrincipal.name}">..</a>
            &nbsp;|&nbsp;
            <a th:href="@{/admin/logout}">Logout</a>
        </th:block>

        <th:block sec:authorize="!isAuthenticated()">
            <a th:href="@{/admin/login}">Login</a>
        </th:block>
    </div>

</div>
<div class="menu-container"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
    <a th:href="@{/}">About</a>
    |
    <a th:href="@{/productList}">
        Product List
    </a>
    |
    <a th:href="@{/shoppingCart}">
        My Cart
    </a>
    |
    <th:block sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_EMPLOYEE')">
        <a th:href="@{/admin/orderList}">
            Order List
        </a>
        |
    </th:block>
    <th:block sec:authorize="hasRole('ROLE_MANAGER')">
        <a th:href="@{/admin/product}">
            Create Product
        </a>
        |
    </th:block>
    <th:block sec:authorize="hasRole('ROLE_MANAGER')">
        <a th:href="@{/admin/RegisterEmployee}">
            Register new Employee
        </a>
    </th:block>
</div>




<div class="page-title-admins">Login (For Employee, Manager)</div>

<div class="login-container">
    <h3>Enter username and password</h3>
    <br>
    <!-- /login?error=true -->
    <th:block th:if="${#session != null && #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}">
        <div th:if= "${#request.getParameter('error') == 'true'}"
             style="color: red; margin: 10px 0px;">
            Login Failed!!!<br /> Reason :
            <span th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}"></span>
        </div>
    </th:block>

    <form method="POST"
          th:action="@{/j_spring_security_check}">
        <table>
            <tr>
                <td>User Name *</td>
                <td><input name="userName" /></td>
            </tr>
            <tr>
                <td>Password *</td>
                <td><input type="password" name="password" /></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Login" />
                    <input type="reset"  value="Reset" />
                </td>
            </tr>
        </table>
    </form>

    <span class="error-message" th:utext="${error}"></span>

</div>
<div class="image-logo">
    <img src="https://data.kaktus.media/image/big/2021-06-01_12-14-01_785291.jpg" alt="logo_of_AIU" height="100" width="100">
</div>


<div style="text-align:left">
    <h3>User/Password:</h3>
    <ul>
        <li>manager1/123</li>
    </ul>
</div>

<div class="footer-container"
     xmlns:th="http://www.thymeleaf.org">

    @Copy right  <a href="https://github.com/EB-coder/Final_web_ordering"
                    target="_blank">OrderingWeb</a>
    <br>
    See more on <a>GitHub</a>

</div>

</body>
</html>